# === ENVIRONNEMENT PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# === FICHIERS SENSIBLES / CREDENTIALS ===
.env
credentials/*.json

# === FICHIERS GÉNÉRÉS / EXPORT ===
*.log
data_export.csv
kpi_consolidated.csv
logs/
build/
dist/
*.spec

# === OS FILES ===
.DS_Store
